{% extends 'base1.html' %}
{% load static %}
{% block body %}
<div class="row"><!--about sectioin start-->
        
    <div class="col-md-6 ">
      <div class="about-img mb-5 white">
        <img src="static/images/logo1.jpg" class="img-fluid p-5" style="height: 650px; width: 650px;">       
      </div>
    </div>
    <div class="col-md-6 white">
      <h1 class="section-title white">About me</h1>
      <h2 class="white">Who We Are</h2>
        <p class="white">
            Destiny Softwares Started Development Of Windows Based Accounting And Inventory Management Software With The Brand Name Of KSS. There After Different Kinds Of Specialized And Generalized Software with GST Reports has been Develop With Same Brand Tag of KSS Accounting Software <br>

            Today KSS Accounting & Inventory Solution Software Is One Of The Best In Its Kind Available In Market KSS Accounting & Inventory Software Is Developed In Windows Environment Of Provide Fast Efficient Attractive & Easy Facilities To Use Accounting Solution With All The Generalized And Specialized Tools For Making It Highly User Friendly. KSS Accounting & Inventory Solution Software with GST Is Suitable For Manufacturer, Job Working Unit, Distributor, Dealers, Showrooms, Retailers, Personal Accounting And Accountant. <br>
            
            With our regular exercise To Keep Our Selves & Our Customer Up-Dated With Current Market needs. We have updated our software with GST Enabled accounting software with facilities as under. <br>
            
            <b> GST Accounting And Billing. <br>
             Purchase Transactions <br>
             Document Printing <br>
             Completely user-friendly invoicing and GST Billing Formats <br>
             Taxation Reports Like GST, TDS etc <br>
             Generation of GST Based invoice <br>
             GST e-Returns , GST E-filing and much more. <br>
             Single entry of GST with different Account like SGST, CGST, IGST, GST CESS, Interest, Fees, Penalty etc. </b> <br>
             
            
            Destiny Softwares is engaged in the field of GST Accounting software Solutions, GST Billing software, GST Return Filing software, Accounting Software with Mobile Application (Such As Android Accounting Supplication ) Where you can operate your Accounting Data From Anywhere. Taxation software and Software Developments for more than a 15 years. KSS GST Software makes easy GST Return Filing and GST Invoices and deliverers hassle free on GST Training to Tax Experts & Businesses. We are able to offer generalize & custom-made range of Software Products that is in compliance with the Government standards of quality. Our dedicated and fully qualified team works hard to provide competitive prices, quick turnaround and full technical support. We offer cutting-edge solutions and provide quality, cost-effective Software products to our more than 14000 and still counting valuable customers.
        </p>
      
    </div>

  </div><!--about sectioin end-->


  {% endblock body %}